@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* shared style start */
.display-flex {
    display: flex;
}

.btn {
    display: flex;
    align-items: center;
    gap: 4px;
    background: linear-gradient(35deg,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
    padding: 0.75rem 1rem;
    font-weight: 600;
    color: white;
    border-radius: 10000px;
    border: none;
}

.grid-box{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
}
.grid-box img{
    max-width: 60px; 
    margin-bottom: 16px;
}
.grid-box h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    margin-bottom: 16px;
}
.grid-box p{
    line-height: 24px;
    color: white;
}

/* shared style end */

/* header style start */
header {
    padding: 1rem 12.5rem;
    background-color: #1A0B2E;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2b1447;
}

header h2 {
    color: white;
    border: 1px solid rgba(0, 0, 0, 1);
}

header h2 span {
    background: linear-gradient(15deg,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    list-style: none;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

nav ul li a,
.menubar {
    text-decoration: none;
    color: white;
    line-height: 120%;
    font-weight: 500;
}

.menubar {
    display: none;
}

/* hero style start */

.hero-container {
    padding-top: 70px;
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero-img-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-img-container .hero-circle-img {
    position: relative;
}

.hero-circle-img img {
    width: 100%;
}

.hero-mic-img {
    position: absolute;
    top: 25%;
}

.new-icon {
    position: absolute;
    top: 7%;
    right: -3px;
    background-color: #00FF88;
    border-radius: 1000px;
    padding: 0.5rem 1rem;
    font-size: 1.125rem;
    font-weight: 600;
    color: #1A0B2E;
}

.hero-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: -150px;
}

.hero-details h2 {
    font-size: 3.75rem;
    font-weight: 800;
    color: white;
    margin-bottom: 8px;
}

.hero-details p {
    color: white;
    margin-bottom: 24px;
}

.hero-btn {
    display: flex;
    gap: 8px;
    margin-bottom: 100px;
}

.hero-btn .btn-subscribe {
    color: #00FF88;
    border: 1px solid #00FF88;
    background: transparent;
}


/* about podcast style */
.about-podcast {
    background-color: #1A0B2E;
}

.about-container {
    padding: 50px 200px 120px;
    text-align: center;
}

.about-container h2 {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    margin-bottom: 16px;
}

.about-container p {
    line-height: 20px;
    color: white;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #2b1447;
    margin: 80px 0;
}

.about-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.info-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info-card h2 {
    font-weight: 900;
    font-size: 3rem;
    color: #00FF88;
}

.info-card p {
    line-height: 20px;
    color: white;
}

/* why choose techwave style */
.choose-techwave{
    background-color: #230E3D;
    padding: 120px 200px;
}
.choose-techwave h2{
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.premium-quality{
    grid-area: premium-quality;
}
.mobile-friendly{
    grid-area: mobile-friendly;
}
.global-community{
    grid-area: global-community;
}
.exclusive-interviews{
    grid-area: exclusive-interviews;
}
.rich-resources{
    grid-area: rich-resources;
}
.choose-techwave-container{
    display: grid;
    gap: 30px;
    grid-template-areas: 
    
     "premium-quality      mobile-friendly      mobile-friendly"
     "premium-quality      global-community     global-community"
     "exclusive-interviews exclusive-interviews rich-resources";
}

/* responsive style */
@media screen and (max-width:576px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.25rem;
    }

    .navbar,
    .navbtn {
        display: none;
    }

    .menubar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 24px;
        width: 24px;
    }

    .hero {
        background-color: #1A0B2E;
        padding-top: 60px;
    }

    .hero-container {
        padding-top: 0;
        background-position: top;
        background-size: contain;
    }

    .hero-circle-img img {
        width: 100%;
        max-width: 200px;
    }

    .hero-mic-img {
        width: 46px;
        position: absolute;
        top: 30%;
        right: 45px;
        width: 80px;
    }

    .hero-mic-img img {
        width: 100%;
        max-width: 46px;
    }

    .new-icon {
        font-size: 0.85rem;
        top: 3%;
        right: -15px;
    }

    .hero-details {
        position: relative;
        top: 80%;
        margin-top: 24px;
        text-align: center;
    }

    .hero-details h2 {
        font-size: 2.5rem;
    }

    .about-container {
        padding: 40px 20px;
        text-align: center;
    }
    .line{
        margin: 40px 0;
    }
    .about-info{
        grid-template-columns: repeat(2,1fr);
        gap: 76px;
    }
    .info-card h2{
        font-size: 2.5rem;
    }

    .choose-techwave{
        padding: 40px 20px;
    }
    .choose-techwave h2{
        margin-bottom: 16px;
    }
    .grid-box h4{
        font-size: 1.375rem;
    }
    .choose-techwave-container{
        gap: 16px;
        grid-template-areas: 
        "premium-quality"
        "mobile-friendly"
        "global-community"
        "exclusive-interviews"
        "rich-resources";
    }

}